@using Lucy5.Data
@model Lucy5.Models.Dream

@{
    ViewData["Title"] = "AddDream";
}

@functions{

    public void OnPost()
    {
        // DreamData dreamData = new DreamData();
        // dreamData.AddDreamToDatabase(title, story);
        // List<Dream> dreams = dreamData.GetDreamsFromDatabase();
    }

}

    <h1>AddDream</h1>

<h4>Dream</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" name="title"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Story" class="control-label"></label>
                <input asp-for="Story" class="form-control" name="story"/>
                <span asp-validation-for="Story" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DreamList">Back to List</a>
</div>

