@* hier zorg je dat deze pagina data binnen kan krijgen van model Dream *@
@using Lucy5.Logic
@using Lucy5.Models
@model IEnumerable<Lucy5.Models.Dream>

@{
    DreamData dreamData = new DreamData();
    List<Dream> dreamList = new List<Dream>();
    dreamList = dreamData.GetDreamListFromDB();

}

@functions{
    public string Message { get; set; } = "Initial Request";

    public void OnGet()
    {

    }

    public void OnPostAdd()
    {
        Message = "Form Posted";
    }

    public void OnPostDelete()
    {
        Message = "Delete handler fired";
    }

    public void OnPostEdit(int id)
    {
        Message = "Edit handler fired";
    }

    public void OnPostView(int id)
    {
        Message = "View handler fired";
    }
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">My Dreams</h2>
        </div>
        <a class="btn btn-primary" asp-controller="Dream" asp-action="AddDream">Add new Dream</a>
    </div>

    <br /><br />

    @if (dreamList.Count > 0)
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Story</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Dream dream in dreamList)
                {
                    using (Html.BeginForm("Delete", "Dream", new {id = dream.Id}))

                    {
                    <tr>
                        <td width="50%">@dream.Title</td>
                        <td width="30%">@dream.Story</td>
                        <td width="20%">
                            <input type="submit" value="Delete"/>
                            
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    }
    else
    {
        <p>You don't have any dreams yet!</p>
    }
</div>